

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-size: x-large;
    color: black;

}

header {
    width: 100%;
    padding: 15px 0;
    background-color: #fa4226;
    font-size: 62.5%;
}

header>.contayner {
    overflow: left;

    width: 85%;
    display: flex;
    align-items: center;
    word-spacing: 5px;
    text-align: center;
    justify-content: center;
}


.logo>.img {
height: 100%;
margin: 0;
border-radius: 10px;
}

header>.contayner>.black-button {
    display: flex;
    border: 1px solid black;
    width: 42px;
    height: 18px;
    border-radius: 20px;
}

header>.contayner>.black-button>.border {
    border: 1px solid black;
    background-color: black;
    width: 15px;
    height: 18px;
    border-radius: 60%;
}
.car {
    margin-top: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;        
    }
   
 
.context {
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fa4226;
    line-height: 50px;
}
    .buttons {
        max-width: 350px;
        padding: 10px;
        text-align: right;
        right: 50%;
    align-items: right;
    justify-content: right; 
    
    }
    
    .buttons input {
        display: flex;
        outline: none;
        width: 100%;
        margin-bottom: 10px;
        background-color: #D9D9D9;
        border: box;
        padding: 10px;
        border-radius: 20px;
    }
    
    .buttons button {
        width: 100%;
        background-color: #fa4226;
        padding: 10px;
        border: none;
        border: box;
        border-radius: 20px;
        outline: none;
        color: #000;
    }    

.element {
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: left; 
    width: 100%;
    height: 400px;
    position: relative;
    margin-right: 20px ;
}

.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from {
        opacity: .10
    }

    to {
        opacity: 5
    }
}

.element .banner {
    display: none;
    width: 100%;
    height: 100%;

}

.element .banner img {
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
    height: 100%;
}

/* .element .left {
    width: 20%;
    height: 300px;
    animation: element 1s linear infinite forwards;
} */

/* .left img {
    width: 100%;
    height: 100%;
}

.element .center {
    width: 80%;
    height: 300px;
    margin: 0 20px;
    animation: element 1s linear infinite forwards;

}

.center img {
    height: 100%;
    width: 100%;
    height: 100%;
}

.element .right {
    width: 20%;
    height: 300px;
    animation: element 1s linear infinite forwards;
}

.right img {
    width: 100%;
    height: 100%;
} */

.text {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #fa4226;

}

.types {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
   
}

.types .textCon {
    position: relative;

}

.types .textCon svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-30%);
}


.right text {

    text-align: right;
    align-items: right;
    width: 596px;
}

.text h1 {
    margin: right 5px; ;
}




.footer {
    display: flex;
    width: 100%;
    height: 300px;
    background-color:#fa4226;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
.footer ul p{
    color: white;
}
.footer ul li{
    color: white;
}
.footer .link:hover {
    text-decoration: underline;
   cursor: pointer; 
}

@media (max-width: 844px){

}

